*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-size: 16px;
}

                                                                         /* Header Part */

 
.header {
    width: 100%;
    height: 720px;
    text-align: center;
    background: url("./img/hero.jpg") no-repeat center center / cover;
    position: relative;
}

.overlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient( to top, rgba(26, 24, 24, 0.911), rgba(51, 38, 28, 0.322));
}

.head {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #e7f8de;
    font-size: 4rem;
    font-weight: 700;
    font-family: Ubuntu, serif;
    letter-spacing: .5rem;
    text-transform: capitalize;
    opacity: .6;
    margin-bottom: 10px;
}

.subtitle {
    color: rgb(245, 245, 245);
    font-size: 1.3rem;
    padding: 0 350px;
    text-transform:capitalize;
    font-family: "Nunito Sans", serif;
    margin: 10px 0;
}

.btn {
    margin-top:20px;
    background: #000;
    padding: 15px 25px;
    background: linear-gradient( to top, #c3fca8, rgba(255, 255, 255, 0.322));
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight:700;
    font-family: "Nunito Sans", sans-serif;
    border-radius: 5px;



}

                                                                    /* Donation Part */
 

.main-section {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #f0f0f0;
}
.section-name {
    padding: 100px 0;
    font-size: 3rem;
    text-transform: capitalize;
    font-family: Ubuntu, serif;
}

.subTitle {
    color: #373b34;
    font-size: 1.2rem;
    padding: 0 250px;
    text-transform:capitalize;
    font-family: "Nunito Sans", serif;
    margin: 10px 0;
}
.parent {
    width: 80%;
    height: 100px;
    margin: 50px 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.option {
    width:10%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: Ubuntu, serif;
    background-color: #e9e9e9;
    border-radius: 15px;
    
}

.selected {
    border: 4px solid #95f768;
    background-color: #dcffcb;
    border-radius: 15px;
}

.custom {
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(197, 211, 188) ;
    width: 50%;
    outline: none;
    font-size: 1rem;
    padding: 1rem 0;
    background-color: #f0f0f0;

}

.Btn {
    margin: 20px 0;
    border: #72a058 solid .5px;

}

                                                                    /* Plan Part */


.plans {
    width: 80%;
    height: 450px;
    padding-bottom: 100px;
    
}

.card {
    padding: 0 30px;
    height: 100%;
    text-align: left;
    margin: 0 10px;
    border-radius: 10px;
}

.red {
    background-color: rgb(255, 225, 225);
    box-shadow: -3px -1px 5px rgba(88, 88, 88, 0.719) ;

}

.blue {
    background-color: rgb(220, 240, 253);
    box-shadow: 3px -1px 5px rgba(88, 88, 88, 0.719) ;

}

.green {
    background-color: rgb(233, 255, 223);
    box-shadow: 1px -3px 8px rgba(88, 88, 88, 0.719) ;

}

.icons {
    margin: 40px 0 20px;
    height: 50px;
}

.card-title {
    font-size: 2rem;
    text-transform: capitalize;
    font-family:"Nunito Sans", sans-serif ;
    margin-bottom: 20px;
}

.card-sub {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    
}

                                                                    /* News Part */

.news {
    width: 80%;
    height: 100%;
    margin: 100px 140px;
    display: flex;
}

.news-img {
    width: 50%;
    margin-right: 20px;
    border-radius: 10px;
    
}

.mod {
        margin: 0px;
        padding: 20px 0 ;
        font-size: 2.5rem;
}

.news-sub {
    padding: 50px 0px;
    margin:  0;
}

.right {
    display: block;
    height: 400px;
    padding: 0 20px;
    text-align: left;
}

.newsBtn {
    border: .5px solid rgba(43, 43, 43, 0.39);
    border-top: none;
    border-radius: 0 0 5px 5px;
}

                                                                    /* Gallery Part*/

.gallery {
    height: 600px;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gal {
    padding:0;
    margin: 0;
    margin-bottom: 80px;
}

.Gallery {
    width: 80%;
    height: 300px;
    margin:0 140px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(88, 88, 88, 0.719) ;

}

.pic {
    width: 30%;
    object-fit: cover;
    border: #f7f6f6 3px solid;
    border-radius: 5px;
}

.letter {
    background: rgb(255, 255, 255);
}

.center {
    width: 80%;
    height: 280px;
    margin: 60px 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(220, 252, 221);
    border-radius: 20px;
}

                                                                    /* Newsletter part */

.news-btn {
    margin: 0;
    padding: 8px 20px;
    font-size: 1rem;
    border-left: none;
    background: linear-gradient( to left, #b4fc92, rgba(255, 255, 255, 0.322));
}

.email {
    padding: 8px 10px;
    border: 2px solid rgb(22, 22, 22);
    border-right: none;
    border-radius: 5px 0 0 5px;
}

                                                                    /* End of Body */

footer {
    background: #0a0a0a;
    height: 150px;
    color: #e7f8de;
}

.foot {
    text-align: center;
}

.top {
    padding-top: 20px;
    color: #c3fca8; 
    font-size: 1.5rem;
    font-family: "Nunito Sans" sans-serif;
}

.special {
    
    color: rgb(255, 176, 176);
}

footer img {
    height: 50px;
}

.bottom {
    font-size: 1.2rem;
    font-family: "Ubuntu" sans-serif;
    color: rgb(255, 220, 220);
    text-transform: capitalize;
}

                                                                    /* End of Css */